<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>


    <div class="content-table">
        <h1>Insert New Record</h1>
        <form id="insert-form">
            <label>Name</label><br>
            <input type="text" name="name" id="name" required><br>
            <label>Reps</label><br>
            <input type="number" name="reps" id="reps"><br>
            <label>Weight</label><br>
            <input type="number" name="weight" id="weight"><br>
            <label>Date</label><br>
            <input type="date" name="date" id="date"><br>
            <label>Unit</label><br>
            <input list="unit" name="unit" id="unit">
            <datalist>
                <option value="kg">
                <option value="lbs">
            </datalist>
            </input><br>
            <button type="submit" id="submit">SUBMIT</button>
        </form>
    </div>


    <br>

    <div class="content-table">
        <h1>Here's your table</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Reps</th>
                    <th>Weight</th>
                    <th>Date</th>
                    <th>Unit</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody id="content-table">




            </tbody>

        </table>
    </div>

    <br>

    <div id="edit-form" class="edit-form">
        <h1>Edit Form</h1>
        <form>
            <input type="hidden" name="edit_id" required><br>
            <label>Name</label><br>
            <input type="text" name="name" id="edit_name" required><br>
            <label>Reps</label><br>
            <input type="number" name="reps" id="edit_reps"><br>
            <label>Weight</label><br>
            <input type="number" name="weight" id="edit_weight"><br>
            <label>Date</label><br>
            <input type="date" name="date" id="edit_date"><br>
            <label>Unit</label><br>
            <input list="unit" name="unit" id="edit_unit">
            <datalist>
                <option value="kg">
                <option value="lbs">
            </datalist>
            </input><br>
            <button type="submit">SUBMIT</button>
            <button type="button" onclick="closeEditForm()">Close</button>
        </form>


    </div>



    <script>





        PullData();

        document.getElementById('submit').addEventListener('click', function (event) {
            var req = new XMLHttpRequest();
            var name = document.getElementById('name').value;
            var reps = document.getElementById('reps').value;
            var weight = document.getElementById('weight').value;
            var date = document.getElementById('date').value;
            var unit = document.getElementById('unit').value;


            req.open('GET', '/insert?name=' + name + '&reps=' + reps + '&weight=' + weight + '&date=' + date + '&unit=' + unit, true);
            req.addEventListener('load', function () {
                if (req.status >= 200 && req.status < 400) {
                    console.log("Success!")
                    document.getElementById("insert-form").reset();
                    var response = JSON.parse(req.responseText);
                    var response2 = JSON.parse(response.results);
                    DOMtable(response2);


                } else {
                    console.log("Error in network request: " + req.statusText);
                }
            });
            req.send(null);
            event.preventDefault();
        });




        function PullData() {
            var req = new XMLHttpRequest();
            req.open('GET', '/pull', true);
            req.addEventListener('load', function () {
                if (req.status >= 200 && req.status < 400) {

                    var response = JSON.parse(req.responseText);
                    var response2 = JSON.parse(response.results);
                    DOMtable(response2);
                } else {
                    console.log("Error in network request: " + req.statusText);
                }
            });
            req.send(null);
        };


        function DOMtable(rows) {

            console.log(rows[0])
            var TBodyTag = document.getElementById('content-table')
            TBodyTag.innerHTML = '';

            for (i = 0; i <= rows.length; i++) {
                var TBodyRow = document.createElement("tr")


                var TBodyContent = document.createElement("td")
                TBodyContent.textContent = rows[i].name
                TBodyRow.appendChild(TBodyContent)

                var TBodyContent = document.createElement("td")
                TBodyContent.textContent = rows[i].reps
                TBodyRow.appendChild(TBodyContent)

                var TBodyContent = document.createElement("td")
                TBodyContent.textContent = rows[i].weight
                TBodyRow.appendChild(TBodyContent)

                var TBodyContent = document.createElement("td")
                TBodyContent.textContent = rows[i].date
                TBodyRow.appendChild(TBodyContent)

                var TBodyContent = document.createElement("td")
                TBodyContent.textContent = rows[i].unit
                TBodyRow.appendChild(TBodyContent)

                var TBodyContent = document.createElement("td")
                var delete_btn = document.createElement('button');
                let record_id = rows[i].id
                delete_btn.innerHTML = 'Delete';
                delete_btn.onclick = function () {

                    var req = new XMLHttpRequest();
                    req.open('GET', '/delete?id=' + record_id, true);
                    req.addEventListener('load', function () {
                        if (req.status >= 200 && req.status < 400) {
                            var response = JSON.parse(req.responseText);
                            var response2 = JSON.parse(response.results);
                            DOMtable(response2);
                            return;
                        } else {
                            console.log("Error in network request: " + req.statusText);
                        }
                    });
                    req.send(null);
                    event.preventDefault();
                };
                TBodyContent.appendChild(delete_btn)
                TBodyRow.appendChild(TBodyContent)


                var TBodyContent = document.createElement("td")
                var edit_btn = document.createElement('button');
                let edit_id = rows[i].id
                let edit_name = rows[i].name
                let edit_reps = rows[i].reps
                let edit_weight = rows[i].weight
                let edit_date = rows[i].date
                let edit_unit = rows[i].unit
                edit_btn.innerHTML = 'Edit';
                edit_btn.onclick = function () {
                    document.getElementById("edit-form").style.display = "block";
                    //document.getElementById("edit-name").textContent = edit_name
                    console.log(edit_name)
                }



                TBodyContent.appendChild(edit_btn)
                TBodyRow.appendChild(TBodyContent)




                TBodyTag.appendChild(TBodyRow)

            }

        }




        function closeEditForm() {
            document.getElementById("edit-form").style.display = "none";
        }


    </script>


</body>

</html>